{% for label, messages in app.flashes %}
	{% for message in messages %}

		<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
			{% if label == 'success' %}
				<span class="alert-inner--icon">
					<i class="fa fa-thumbs-up"></i>
				</span>
			{% else %}
				<span class="alert-inner--icon">
					<i class="fa fa-thumbs-down"></i>
				</span>
			{% endif %}
			<span class="alert-inner--text">
				<strong>{{ label | title }}
					:
				</strong>
				{{ message | raw }}</span>
		</div>

	{% endfor %}
{% endfor %}
