<div class="container border-top">
	<div class="row">
		<div class="col-12 col-md">
			<h5>NewsActu</h5>
			<small class="d-block text-muted">&copy; 2022</small>
		</div>
		<div class="col-6 col-md">
			<h5>Catégories</h5>
			<ul class="list-unstyled"></ul>
		</div>
		<div class="col-6 col-md">
			<ul class="list-unstyled">
				<li>
					<a href="#" class="text-muted">Mentions légales</a>
				</li>
				<li>
					<a href="#" class="text-muted">Politique de confidentialité</a>
				</li>
				<li>
					<a href="#" class="text-muted">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid bg-dark">
	<div class="row">
		<div class="col">
			<p class="text-center text-white">&copy; NewsActu 2022</p>
		</div>
	</div>
</div>
