<div class="row">
    <p class="d-flex justify-content-around">
        {% for category in categories %}
            <span class="d-inline"><a href="#" class="text-decoration-none text-warning align-middle">{{ category.name }}</a></span>
        {% endfor %}
    </p>
</div>