<nav class="navbar navbar-light bg-light">
    <form class="container-fluid">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Recherche... " aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-success btn-warning">Rechercher</button>
        </div>
    </form>
</nav>